html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f8f9fa;
  color: #3c4043;
}

div {
  padding: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
}
