html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f8f9fa;
  color: #3c4043;
}

img,
video {
  height: auto;
  max-width: 100%;
}

pre {
  font-family: monospace;
}

.content {
  display: grid;
  grid-template: 4rem 1fr 4rem/16rem 1fr;
  grid-template-areas: "title title" "drawer main" "metadata main";
}

.title {
  display: flex;
  height: 4rem;
  padding: 0 2rem;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  grid-area: title;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.title > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.drawer {
  width: 16rem;
  grid-area: drawer;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

nav ol {
  list-style: none;
  margin: 0;
  padding: 1rem 0.5rem;
  counter-reset: li-count;
}

nav ol li {
  display: block;
  counter-increment: li-count;
}

nav ol li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  line-height: 1;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: #ffffff;
  border: 1px solid #dadce0;
  color: #3c4043;
}

nav ol li[selected] a {
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

nav ol li a .step {
  display: flex;
  align-items: center;
}

nav ol li a .step::before {
  content: counter(li-count);
  display: inline-block;
  font-style: normal;
  width: 26px;
  min-width: 26px;
  color: #ffffff;
  background: #80868b;
  border-radius: 50%;
  text-align: center;
  height: 26px;
  vertical-align: middle;
  line-height: 26px;
  margin-right: 0.5rem;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

nav ol li[selected] a .step::before {
  background-color: #1a73e8;
}

main {
  grid-area: main;
  padding: 1rem 0.5rem;
  height: calc(100vh - 8rem);
  overflow: auto;
  position: relative;
}

.wrapper {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0.5rem;
}

footer {
  background-color: #ffffff;
  height: 4rem;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

footer #done,
footer #previous-step,
footer #next-step {
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.5rem 1.25rem;
  pointer-events: auto;
  text-transform: none;
  background-color: #ffffff;
  color: #1a73e8;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);
  text-decoration: none;
}

footer [disappear] {
  visibility: hidden;
}

footer #next-step {
  background-color: #1a73e8;
  color: #ffffff;
}