<div>
  <p>
    This demo includes an uncompressed image with an intrinsic width of 640px. On a device
    with a viewport larger than 540px, the image is displayed at a maximum of
    640px. On devices with a smaller viewport, it is displayed at
    <code>calc(100vw - 2rem)</code>.
  </p>
  <div class="gallery">
    <div class="large">
      <img
        alt="Photograph of a group of pedestrians crossing the street."
        width="640"
        height="426"
        src="/images/5c7a461a-f9fa-4174-b79d-36b794063351/image-640-uncompressed.jpg?v=1671201930083"
      />
    </div>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;img
  alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
  width=&quot;640&quot;
  height=&quot;426&quot;
  src=&quot;/images/5c7a461a-f9fa-4174-b79d-36b794063351/image-640-uncompressed.jpg?v=1671201930083&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>