<div>
  <p>
    A flash of unstyled content (FOUC) is when you see a brief flicker of a page
    without any styles applied to it. Refresh this page in case you missed it.
  </p>
  <p>
    CSS is render-blocking by design. Placing any stylesheet CSS in the
    <code>&lt;head&gt;</code>
    will block the HTML parser until the stylesheet is downloaded and parsed. In
    this demo, the stylesheet is placed before the closing
    <code>&lt;body&gt;</code>
    tag. This means the browser discovers the CSS file after parsing the HTML,
    resulting in a FOUC.
  </p>
   <div class="gallery">
    <div class="large">
      <img
           w
        src="https://cdn.glitch.global/5c7a461a-f9fa-4174-b79d-36b794063351/image-1500-uncompressed.jpg?v=1671200790571"
        alt="Image 1"
        class="image"
      />
    </div>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;body&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;!-- content --&gt;
  &lt;/div&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;/style.css&quot; /&gt;
&lt;/body&gt;</code></pre>
    </details>
  </p>
</div>