<div>
  <table>
    <tr>
      <td>
        Age:
      </td>
      <td>
        <strong>{{time}}</strong>
      </td>
    </tr>
  </table>
  <p>
    The timestamp above shows the freshness of the server's response. If you refresh the page, you will see that this value is updated with the current server time.
  </p>
  <br />
  {{{data}}}
</div>