<div>
  <table>
    <tr>
      <td>
        Data:
      </td>
      <td>
        <strong>{{time}}</strong>
      </td>
    </tr>
  </table>
  <p>
    This demo utilizes an <code>ETag</code> to check the validity of the server response. The first time you visit the page, the browser does not have an ETag and therefore receives the full response from the server.
  </p>
  <p>
    <img
      width="456"
      height="116"
      src="https://cdn.glitch.global/1d17d497-a0db-4183-b4e9-1a5f350327b1/learn-performance-caching-1-1.png?v=1667990957715"
      alt="Screenshot of Chrome DevTools showing response headers, including 'cache-control: no-store'."
    />
  </p>
  <p>
    <details>
      <summary>View Source Code</summary>
      <pre><code>reply.headers({ "cache-control": "no-store", });</code></pre>
    </details>
  </p>
  <hr />
  {{{data}}}
</div>