<div>
  <p>
    This demo uses <code>scrcset</code> to indicate a list of possible image sources the browser may use. Each image source uses a pixel density descriptor, with a total of three variants.
  </p>
  <div class="gallery">
    <div class="large">
      <img
        alt="Photograph of a group of pedestrians crossing the street."
        width="640"
        height="426"
        src="/images/5c7a461a-f9fa-4174-b79d-36b794063351/image-640-uncompressed.jpg?v=1671201930083"
      />
    </div>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;img
  alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
  width=&quot;640&quot;
  height=&quot;426&quot;
  src=&quot;/images/5c7a461a-f9fa-4174-b79d-36b794063351/image-640-uncompressed.jpg?v=1671201930083&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>