<div>
  <p>
    This demo uses the
    <code>sizes</code>
    attribute combined with
    <code>scrcset</code>
    and width descriptors.
  </p>
  <p>
    <i>Note that while the
      <a href="/2">previous demo</a>
      always used the 1920w image on devices with a 3.0 DPR, this demo picks the
      1280w image on 3x devices with a small viewport.</i>
  </p>
  <div class="gallery">
    <div class="large">
      <img
        alt="Photograph of a group of pedestrians crossing the street."
        width="640"
        height="426"
        src="/images/image-640-uncompressed.jpg"
        srcset="/images/image-640-uncompressed.jpg 640w, /images/image-1280-uncompressed.jpg 1280w, /images/image-1920-uncompressed.jpg 1920w"
        sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
      />
    </div>
  </div>
  <div>
    <p>
      <strong>Image details:</strong>
    </p>
    <table>
      <tbody>
        <tr>
          <td>
            Intrinsic Width
          </td>
          <td id="naturalWidth">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Height
          </td>
          <td id="naturalHeight">
          </td>
        </tr>
        <tr>
          <td>
            Display Width
          </td>
          <td id="clientWidth">
          </td>
        </tr>
        <tr>
          <td>
            Display Height
          </td>
          <td id="clientHeight">
          </td>
        </tr>
        <tr>
          <td>
            DPR
          </td>
          <td id="dpr">
          </td>
        </tr>
        <tr>
          <td>
            Percentage Used
          </td>
          <td id="usedPercentage">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;img
  alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
  width=&quot;640&quot;
  height=&quot;426&quot;
  src=&quot;/images/image-640-uncompressed.jpg&quot;
  srcset=&quot;/images/image-640-uncompressed.jpg, /images/image-1280-uncompressed.jpg 2x, /images/image-1920-uncompressed.jpg 3x&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>