<div>
  <table>
    <tr>
      <td>
        Server:
      </td>
      <td>
        <strong>{{time}}</strong>
      </td>
    </tr>
    <tr>
      <td>
        Client:
      </td>
      <td>
        <strong id="time">&nbsp;</strong>
      </td>
    </tr>
  </table>
  <p>
    Hi
  </p>
  <br />
  {{{data}}}
</div>