<div>
  <p>
    This demo uses lossless compression (OxiPNG) to reduce the image size. The
    image was compressed using a maximum effort of 3.
  </p>
  <p>
    <i>To demonstrate lossless compression we are using an image which features
      many sharp edges. Lossless compression does not perform well on
      photographs which tend to have a high frequency, gradients and many
      colors.</i>
  </p>
  <div class="gallery">
    <div class="large">
      <img
        alt="web.dev logo"
        width="1200"
        height="1200"
        src="/images/image-1200-lossless.png"
      />
    </div>
  </div>
  <div>
    <p>
      <strong>Image details:</strong>
    </p>
    <table>
      <tbody>
        <tr>
          <td>
            Intrinsic Width
          </td>
          <td id="naturalWidth">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Height
          </td>
          <td id="naturalHeight">
          </td>
        </tr>
        <tr>
          <td>
            Display Width
          </td>
          <td id="clientWidth">
          </td>
        </tr>
        <tr>
          <td>
            Display Height
          </td>
          <td id="clientHeight">
          </td>
        </tr>
        <tr>
          <td>
            DPR
          </td>
          <td id="dpr">
          </td>
        </tr>
        <tr>
          <td>
            Percentage Used
          </td>
          <td id="usedPercentage">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;img
  alt=&quot;web.dev logo&quot;
  width=&quot;1200&quot;
  height=&quot;1200&quot;
  src=&quot;/images/image-1200-lossless.png&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>