<div>
  <p>
    This demo uses the
    <code>&lt;picture&gt;</code>
    element with a
    <code>&lt;source&gt;</code>
    for AVIF and WebP. The
    <code>&lt;img&gt;</code>
    element uses a JPEG as a fallback. This demo uses the same image resolution for
    all devices as it does not use any
    <code>srcset</code>
    or
    <code>sizes</code>.
  </p>
  <div class="gallery">
    <div class="large">
      <picture>
        <source type="image/avif" srcset="/images/image-1280-lossy.avif" />
        <source type="image/avif" srcset="/images/image-1280-lossy.webp" />
        <img
          alt="Photograph of a group of pedestrians crossing the street."
          width="1280"
          height="852"
          src="/images/image-1280-lossy.jpg 1280w"
        />
      </picture>
    </div>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;img
  alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
  width=&quot;640&quot;
  height=&quot;426&quot;
  src=&quot;/images/image-640-lossy.jpg&quot;
  srcset=&quot;/images/image-640-lossy.jpg, /images/image-1280-lossy.jpg 2x, /images/image-1920-lossy.jpg 3x&quot;
/&gt;</code></pre>
    </details>
  </p>
</div>