<div>
  <p>
    This demo uses the
    <code>&lt;picture&gt;</code>
    element with a
    <code>&lt;source&gt;</code>
    for AVIF and WebP.</p><p>The
    <code>&lt;img&gt;</code>
    element uses a JPEG as a fallback. This demo uses the same image resolution
    for all devices as it does not use any
    <code>srcset</code>
    or
    <code>sizes</code>.
  </p>
  <div class="gallery">
    <div class="large">
      <picture>
        <source type="image/avif" srcset="/images/image-1280-lossy.avif" />
        <source type="image/webp" srcset="/images/image-1280-lossy.webp" />
        <img
          id="image"
          alt="Photograph of a group of pedestrians crossing the street."
          width="1280"
          height="852"
          src="/images/image-1280-lossy.jpg"
        />
      </picture>
    </div>
  </div>
  <div>
    <p>
      <strong>Image details:</strong>
    </p>
    <table>
      <tbody>
        <tr>
          <td>
            File
          </td>
          <td id="currentSrc">
          </td>
        </tr>
        <tr>
          <td>
            Size
          </td>
          <td id="decodedBodySize">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Width
          </td>
          <td id="naturalWidth">
          </td>
        </tr>
        <tr>
          <td>
            Intrinsic Height
          </td>
          <td id="naturalHeight">
          </td>
        </tr>
        <tr>
          <td>
            Display Width
          </td>
          <td id="clientWidth">
          </td>
        </tr>
        <tr>
          <td>
            Display Height
          </td>
          <td id="clientHeight">
          </td>
        </tr>
        <tr>
          <td>
            DPR
          </td>
          <td id="dpr">
          </td>
        </tr>
        <tr>
          <td>
            Percentage Used
          </td>
          <td id="usedPercentage">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;picture&gt;
  &lt;source type=&quot;image/avif&quot; srcset=&quot;/images/image-1280-lossy.avif&quot; /&gt;
  &lt;source type=&quot;image/avif&quot; srcset=&quot;/images/image-1280-lossy.webp&quot; /&gt;
  &lt;img
    alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
    width=&quot;1280&quot;
    height=&quot;852&quot;
    src=&quot;/images/image-1280-lossy.jpg 1280w&quot;
  /&gt;
&lt;/picture&gt;</code></pre>
    </details>
  </p>
</div>