<div>
  <p>
    This demo builds upon the previous demo by using the
    <code>&lt;picture&gt;</code>
    element to serve modern image formats and
    <code>srcset</code>
    and
    <code>sizes</code>
    to indicate the correct image.
  </p>
  <div class="gallery">
    <div class="large">
      <picture>
        <source
          media="(min-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          type="image/avif"
          srcset="/images/image-640-lossy.avif 640w, /images/image-1280-lossy.avif 1280w, /images/image-1920-lossy.avif 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <source
          media="(max-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          type="image/avif"
          srcset="/images/image-640-lossy.avif 640w, /images/image-1280-lossy.avif 1280w, /images/image-1920-lossy.avif 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <source
          media="(min-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          type="image/webp"
          srcset="/images/image-640-lossy.webp 640w, /images/image-1280-lossy.webp 1280w, /images/image-1920-lossy.webp 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <source
          media="(max-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          type="image/webp"
          srcset="/images/image-640-lossy.webp 640w, /images/image-1280-lossy.webp 1280w, /images/image-1920-lossy.webp 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <source
          media="(min-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          srcset="/images/image-640-lossy.jpg 640w, /images/image-1280-lossy.jpg 1280w, /images/image-1920-lossy.jpg 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <source
          media="(max-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          srcset="/images/image-640-lossy.jpg 640w, /images/image-1280-lossy.jpg 1280w, /images/image-1920-lossy.jpg 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <img
          alt="Photograph of a group of pedestrians crossing the street."
          width="640"
          height="426"
          src="/images/image-640-lossy.jpg"
        />
      </picture>
    </div>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;picture&gt;
  &lt;source type=&quot;image/avif&quot; srcset=&quot;/images/image-1280-lossy.avif&quot; /&gt;
  &lt;source type=&quot;image/avif&quot; srcset=&quot;/images/image-1280-lossy.webp&quot; /&gt;
  &lt;img
    alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
    width=&quot;1280&quot;
    height=&quot;852&quot;
    src=&quot;/images/image-1280-lossy.jpg 1280w&quot;
  /&gt;
&lt;/picture&gt;</code></pre>
    </details>
  </p>
</div>