<div>
  <p>
    This demo uses the
    <code>&lt;picture&gt;</code>
    element with a
    <code>&lt;source&gt;</code>
    for AVIF and WebP.</p><p>The
    <code>&lt;img&gt;</code>
    element uses a JPEG as a fallback. This demo uses the same image resolution
    for all devices as it does not use any
    <code>srcset</code>
    or
    <code>sizes</code>.
  </p>
  <div class="gallery">
    <div class="large">
      <picture>
        <source
          media="(min-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          srcset="/images-accept/image-1280-lossy.jpg 1280w, /images-accept/image-1920-lossy.jpg 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <source
          media="(max-width: 560px) and (-webkit-min-device-pixel-ratio: 1.5)"
          srcset="/images-accept/image-1280-lossy-sm.jpg 1280w, /images-accept/image-1920-lossy-sm.jpg 1920w"
          sizes="(min-width: 540px) 640px, calc(100vw - 2rem)"
        />
        <img
          alt="Photograph of a group of pedestrians crossing the street."
          width="640"
          height="426"
          src="/images-accept/image-640-lossy.jpg"
        />
      </picture>
    </div>
  </div>
  {{! prettier-ignore }}
  <p>
    <details>
      <summary>View Source Code</summary>      
      <pre><code>&lt;picture&gt;
  &lt;source type=&quot;image/avif&quot; srcset=&quot;/images/image-1280-lossy.avif&quot; /&gt;
  &lt;source type=&quot;image/avif&quot; srcset=&quot;/images/image-1280-lossy.webp&quot; /&gt;
  &lt;img
    alt=&quot;Photograph of a group of pedestrians crossing the street.&quot;
    width=&quot;1280&quot;
    height=&quot;852&quot;
    src=&quot;/images/image-1280-lossy.jpg 1280w&quot;
  /&gt;
&lt;/picture&gt;</code></pre>
    </details>
  </p>
</div>