<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Learn Performance - Caching</title>
  </head>
  <body>
    <div class="content">
      <div class="title">
        <h1>
          Learn Performance - Caching
        </h1>
      </div>
      <nav class="drawer">
        {{> nav }}
      </nav>
      <main>
        <div class="wrapper">
          <h2>
            {{title}}
          </h2>
          <div>
            <p>
              // TODO
            </p>
          </div>
          <table>
            <tr>
              <td>
                Server:
              </td>
              <td>
                <strong>{{time}}</strong>
              </td>
            </tr>
            <tr>
              <td>
                Client:
              </td>
              <td>
                <strong id="time">&nbsp;</strong>
              </td>
            </tr>
          </table>
          <br />
          {{{data}}}
        </div>
      </main>
      <footer>
        <a href="#" id="previous-step" aria-hidden="" tabindex="-1">Back</a>
        <a href="#" id="next-step">Next</a>
        <a href="/" id="done" hidden data-title="Demo complete">Done</a>
      </footer>
    </div>
    <script>

    </script>
    <script>
      const getTime = (date) => { const coeff = 1000 * 10; return new
      Date(Math.floor(date.getTime() / coeff) * coeff).toUTCString(); }; let
      date = new Date(); document.getElementById("time").innerHTML =
      getTime(date);
    </script>
  </body>
</html>