<div>
  <p>
    Welcome to this demo - part of the web.dev Learn Performance series. This
    demo will focus on images. Use the pane on the left to navigate through the
    different demos, or click the
    <i>Start</i>
    button below.
  </p>
  <p>
    To get the full benefit of this demo and how the images appear on different
    viewports and devices we suggest that you go through the demo on real devices. If you are unable to do so, you could use your browser's <i>Responsive Mode</i>.
  </p>
  <p>
    <img
      width="1247"
      height="964"
      src="https://cdn.glitch.global/5c7a461a-f9fa-4174-b79d-36b794063351/welcome.png?v=1671717672601"
      alt="Screenshot of Chrome DevTools Responsive Mode."
    />
  </p>
</div>