<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" href="/open-sans-optional.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>
      Test 1
    </h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac orci
        dictum, dictum augue nec, semper sapien. Etiam efficitur a nisl sed
        semper. Nam et venenatis risus, eget consequat odio. Praesent at purus
        ligula. Pellentesque tincidunt lorem at augue mattis blandit. Cras at
        ipsum augue. Duis vestibulum, ex eu commodo tristique, sem dui cursus
        lorem, quis sollicitudin leo sem et dui. Integer nec pellentesque nisi.
        Aliquam fringilla quam neque, eget volutpat nisi pharetra ac.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.
      </p>
      <p>
        Praesent blandit eu ex nec volutpat. Cras vitae ex dui. Nunc venenatis
        erat in lacus gravida vehicula. Nulla bibendum sit amet dui vitae
        scelerisque. Cras in est erat. Nunc convallis libero sed ipsum blandit,
        eu consectetur neque finibus. Donec sit amet pretium nibh. Aliquam non
        elit ipsum. Aenean dignissim nec dui sit amet sollicitudin. Donec
        consequat nisl metus, quis maximus velit venenatis a. Phasellus mi
        libero, euismod sed turpis vel, finibus cursus lectus. Vivamus accumsan
        rhoncus elementum. Sed pretium felis nec purus dapibus, viverra luctus
        erat pharetra. Donec eu rhoncus velit, eget dictum odio. Fusce in
        lacinia lacus.
      </p>
    </div>
  </body>
</html>