<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Learn Performance - Caching</title>
  </head>
  <body>
    <div class="content">
      <div class="title">
        {{> title}}
      </div>
      <nav class="drawer">
        {{> nav}}
      </nav>
      <main>
        <div class="wrapper">
          <h2>
            {{title}}
          </h2>
          <div>
            <p>
              Welcome to this demo, part of the web.dev Learn Performance
              series. Use the pane on the left to navigate through the different
              demos, or click the
              <i>Next</i>
              button below.
            </p>
          </div>
        </div>
      </main>
      <footer>
        {{> footer}}
      </footer>
    </div>
  </body>
</html>