<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <pre>{{title}}</pre>
    <p>
      Generated on origin:
      <strong>{{time}}</strong>
      | Current time
      <strong id="time"></strong>
    </p>
    <nav>
      <a href="/no-store">no-store</a>
      <a href="/no-cache">no-cache</a>
      <a href="/max-age-60">private, max-age=0</a>
    </nav>
    <br />
    <div class="wrapper">
      {{{data}}}
    </div>
    <script>
      const getTime = (date) => { 
        const coeff = 1000 * 5;
        return new Date(Math.round(date.getTime() / coeff) * coeff).toUTCString();
      }
      
      let date = new Date();
      document.getElementById("time").innerHTML = getTime(date);      
    </script>
  </body>
</html>