<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <pre>{{title}}</pre>
    <p>
      Generated on origin:
      <strong>{{time}}</strong>
      | Current time
      <strong id="time"></strong>
    </p>
    <nav>
      <a href="/no-store">no-store</a>
      <a href="/no-cache">private, no-cache</a>
      <a href="/public-no-cache">public, no-cache</a>
      <a href="/max-age-0">private, max-age=0</a>
      <a href="/public-max-age-0-must-revalidate">public, max-age=0,
        must-revalidate</a>
      <a href="/public-max-age-60">public, max-age=60</a>
      <a href="/public-max-age-60-must-revalidate">public, max-age=60,
        must-revalidate</a>
      <a href="/max-age-60-stale-while-revalidate-60">private, max-age=60,
        stale-while-revalidate=60</a>
      <a
        href="/public-max-age-10-stale-while-revalidate-10-stale-if-error-60"
      >public, max-age=10, stale-while-revalidate=10, stale-if-error=60</a>
    </nav>
    <br />
    <div class="wrapper">
      {{{data}}}
    </div>
    <script>
      const getTime = (date) => { 
        const coeff = 1000 * 5;
        return new Date(Math.round(date.getTime() / coeff) * coeff).toUTCString();
      }
      
      let date = new Date();
      document.getElementById("time").innerHTML = getTime(date);      
    </script>
  </body>
</html>