<div>
  <p>
    Welcome to this demo, part of the web.dev Learn Performance series. Use the
    pane on the left to navigate through the different demos, or click the
    <i>Next</i>
    button below.
  </p>
  <p>
    Before starting, please open DevTools or your browser's equivalent to inspect
    the network traffic.
  </p>
  <p>
    <img
      width="942"
      height="356"
      src="https://cdn.glitch.global/d9187237-9434-448a-ac71-ebc3ef084888/learn-performance-welcome.png?v=1669119132067"
      alt="Screenshot of Chrome DevTools showing network response."
    />
  </p>
</div>