<div>
  <p>
    Welcome to this demo, part of the web.dev Learn Performance series. Use the
    pane on the left to navigate through the different demos, or click the
    <i>Next</i>
    button below.
  </p>
  <p>
    Before starting, please open DevTools or your browser's equivalent to inspect
    the network traffic.
  </p>
  <p>
    <img
      width="930"
      height="120"
      src="https://cdn.glitch.global/1d17d497-a0db-4183-b4e9-1a5f350327b1/learn-performance-caching-0-1.png?v=1667990735189"
      alt="Screenshot of Chrome DevTools showing network response."
    />
  </p>
</div>