<a href="{{add step -1}}" id="previous-step" aria-hidden="" tabindex="-1" {{#unless step}}disappear{{/unless}}>Back</a>
<a href="{{add step 1}}" id="next-step" {{#ifeq step 4}}disappear{{/ifeq}}>Next</a>
