<ol>
  <li {{#unless step}}selected{{/unless}}><a href="/"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="/1"><span class="step">Demo 1</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="/2"><span class="step">Demo 2</span></a></li>
</ol>